.header-container{
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: #B1EFFC;
    color: black;
    
}



.header-counter{
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    
}



.row{
    width: 400px;
    background-color: #B1EFFC;
    border-radius: var(--border-radius);
    box-shadow: var( --search-box-shadow);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-left: auto;
    padding-left: 100px;
    font-weight: bold;
    cursor: pointer;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.search-button{
    color: #B1EFFC;
    margin-top: var(--spacing-small);
    outline: none;
    background: none;
}

.search-img{
    width: 25px;
    cursor: pointer;
    font-size: 22px;
}

